#titulo_principal {
    color: #5e5e5e;
    text-align: center;
}

#foto img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2.subtitulos {
    background-color: grey;
}

h2.subtitulos:hover {
    transition: 1.5s; /* a trasition cria um efeito que trocar a cor gradualmente */
    color: white;
}

p {
    font-family: Verdana;
}

ol {
    list-style-type: upper-alpha;
}

#informacoes_pessoais {
    background-color: lightblue;
}

.minhadiv {
    border-style: dashed;
    border-width: 2px;
    border-color: #000;
    background-color: lightgrey;
    text-align: center;
}