th {
    text-transform: uppercase;
}

body {
    background-color: #E5E1DA;
}

table {
    border: 1px;
    border-style: solid;
    border-color: #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}